{% extends 'main/layout.html.twig' %}

{% block title %}{{ food.name }}{% endblock %}

{% block body %}
<div class="container">


        <h1 style="text-align: center">{{ food.name }}</h1>



</div>
{% endblock %}
