<a href="{{ path('app_register') }}"> <div class="myButton">Connexion</div></a>
<a href="{{ path('home') }}"> <div class="myButton">Catalogue</div></a>
<a href="{{ path('home') }}"> <div class="myButton">Ma liste de course</div></a>
<a href="{{ path('home') }}"> <div class="myButton">Accueil</div></a>